.part1 h2 {
    color:red
}
.part1 p {
    color:white;
    background-color:black;
    display: inline;

}
.part2 h2{
    color: green;
}
.part2 p {
    color:green;
    background-color:darkred;
    display: inline;

}
.part3 p {
    color:green;
}
.part4 > p {
    color:green;
}


/* week2 excercise2 */

section {
    display: block;
    width: 45%;
    float:left;
    margin: 10px;
    padding: 10px;
    
}

.csym019{
    background-color: aqua;

}

.csym015{
    background-color: yellow;
}
